 .heroes {
     margin: 5px;
     cursor: pointer;
 }

 .heroes {
    width: 7rem;
 }

 .hereoes .card-image,
 .hereoes .card-image img {
     width: 100%;
 }

 .heroes .card-body {
     color: #525252;
     font-size: 0.6rem;
     padding-left: 0px;
     padding-right: 0px;
 }

 .heroes .card-footer {
     color: #a9a9a9;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 0.5rem;
 }
